$borders:#D9FFF5;

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}



.content-block__header-name {
    font-family: "TT Lakes", "Arial", "Roboto Light",sans-serif ;
    font-weight: 400;
    font-size:16px;
    line-height: 24px;
    text-transform: uppercase;
    display:block;
    margin:0 8px;

}

.content-block__header {
    display:flex;
    justify-content: flex-start;
    color:#7E7E82;
    background-image: linear-gradient( to right,#F2F2F2, #FFF);
    width: 100%;
    border-top: 1px solid $borders;
    padding:16px;
    box-sizing:border-box;
}

.brands-list--container {
    background-color: #F2F2F2;
    margin:0;
}

.brands-list__link {
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    display:flex;
    justify-content: flex-end;
    padding: 0 12px;
    height:72px;
    width: 224px;
    background-repeat: no-repeat;
    background-position: 15% 50%;
    background-color: white;
    margin-left: 32px;
    margin-top: 24px;
}

.btn-more_opened {
    background-image: url("./images/expand2.svg");
}

@media (min-width: 120px) and (max-width: 767px) {
    .btn-more_opened, .brands__btn-more  {
        display: none;
    }

    .brands-list_container.swiper-container {
        width:90vw;
        padding: 0;
        position: relative;
        margin:0 auto;
        max-height:140px;
    }

    .swiper-pagination {
        position:absolute;
        left:0;
    }

    .swiper-pagination-bullet {
        margin: 16px 12px;
        min-height:12px;
        min-width:12px;
    }
    .swiper-pagination-bullet-active {
        background-color: #B5B6BC;
    }
    
    .brands-list__item {
        min-width: 224px;
        max-width: 224px;
        display: block;
        box-sizing: border-box;
        margin: 0;
    }

    .brands-list__link {
        margin-top: 16px;
    }

}

@media (min-width: 768px) and (max-width: 1439px) {
    .brands-list {
        display: flex;
        flex-wrap: wrap;

    }

    .brands-list--container {
        padding:0 0 50px 0;
    }

    .brands-list_minimized{
        height: 210px;
        overflow:hidden;
    }

    .swiper-pagination {
        display: none;
    }
}

@media (min-width: 1440px) {
    .brands-list {
        max-width: 1120px;
        display: flex;
        flex-wrap: wrap;
    }

    .brands-list_minimized {
        height: 210px;
        overflow:hidden;
    }

    .swiper-pagination {
        display: none;
    }

    .brands-list--container {
        padding:0 0 50px 0;
    }
}

.brands-list__button {
    border: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    display: block;
    cursor: pointer;
    background-image: url("./images/go.svg");
}

.brands-list__button:hover {
    filter: drop-shadow(6px 3px 4px #7E7E82);
    transition-duration: 0.5s;
}

.brands-list__item {
    box-sizing: border-box;
    width: 250px;
}




.link1 {
    background-image: url("./images/brands/sams.png");
}
.link2 {
    background-image: url("./images/brands/sony.png");
}
.link3 {
    background-image: url("./images/brands/appl.png");
}
.link4 {
    background-image: url("./images/brands/acer.png");
}
.link5 {
    background-image: url("./images/brands/lenovo.png");
}
.link6 {
    background-image: url("./images/brands/hp.png");
}
.link7 {
    background-image: url("./images/brands/bosc.png");
}
.link8 {
    background-image: url("./images/brands/view.png");
}

.link9 {
    background-image: url("./images/brands/sams.png");
}
.link10 {
    background-image: url("./images/brands/sony.png");
}
.link11 {
    background-image: url("./images/brands/appl.png");
}

.brands__btn-more:focus {
    outline:none;
    filter: drop-shadow(6px 3px 4px #7E7E82);
}

.brands__btn-more:focus {
    outline:none;
    filter: drop-shadow(6px 3px 3px #7E7E82);
}
